In [3]:
import numpy as np
import pandas as pd

## 处理缺失数据
- isnull
- notnull
- dropna
- fillna

In [4]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

In [5]:
string_data[0] = None

In [6]:
string_data

0         None
1    artichoke
2          NaN
3      avocado
dtype: object

In [8]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

过滤缺失

In [9]:
from numpy import nan as NA

data = pd.Series([1, NA, 3.5, NA, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [10]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [11]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [13]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],[NA, NA, NA], [NA, 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [14]:
# 删除所有null
data.dropna()
# 删除全为NA
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0

In [15]:
data[4] = NA

In [16]:
data.dropna(axis=1,how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

填充缺失

In [17]:
data.fillna(0)

     0    1    2    4
0  1.0  6.5  3.0  0.0
1  1.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  6.5  3.0  0.0

In [18]:
# 列填充
data.fillna({1:0.5,2:0})

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  0.5  0.0 NaN
2  NaN  0.5  0.0 NaN
3  NaN  6.5  3.0 NaN